SECRET_KEY=
DEBUG=False
DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1] 0.0.0.0"

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

CELERY_BROKER=
# CELERY_BROKER=
CELERY_BACKEND=